@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.textResponsive {
  @apply lg:text-[18px] md:text-[16px] xs:text-[14px] text-[22px]
}

.textButton {
  @apply lg:text-[18px] md:text-[16px] xs:text-[16px] text-[14px]
}

.textJudul {
  @apply font-bold xl:text-[44px] lg:text-[20px] md:text-[42px] xs:text-[32px] text-[24px]
}

.textDesc {
  @apply opacity-80 lg:text-[18px] md:text-[14px] xs:text-[16px] text-[18px]
}

.role-active {
  @apply shadow-md hover:shadow-none text-purple-500 border-purple-400
}

.form-active {
  @apply border-border
}

.form-error {
  @apply border-red-500
}

.form-default {
  @apply border-border border-opacity-50
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

